historial-->
<div class="productos col-xs-12 col-sm-3 col-md-3 ol-lg-3">

	<!-- include submenu categorias -->
	

	<!--submenu-->
	<div class='sub-menu'>
		<h5 class="text-uppercase sub-menu-text">cambiar de categoría</h5>
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-2.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon" src="assets/images/magneti-marelli-item-2.png">
		<img id="mostrar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-bottom.png">
		<img id="ocultar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-top.png">
	</div>
	<!--//submenu-->

	<!-- include productos (Es el mismo html que está en productos.html, quizás te sirva reutilizarlo con un include. Lo probé pero no devuelve ninguna categoria)
	<ng-include src="'templates/productos.html'"></ng-include>-->
	<!-- //include productos -->

	<!-- Es el mismo html que está en productos.html-->
	<!--categorias-->
	<div style="display: none" id="categorias" class="categorias col-xs-12 col-sm-3 col-md-3 ol-lg-3">
	
		<!--titulo-->
		<div class="titulo-cat">
			<h2 class='text-uppercase'>seleccionar categoría</h2>
		</div>
		<!--//titulo-->

		<!--Bloque - categoria-->
		<div class="bloque-categoria" ng-controller="ProductosCtrl">

			<div class="categoria">
				<input type="text" value="A" ng-model="search" maxlength="1">
			</div>

			<!--items-categoria-->
			<li class="items categoria-gal" categoria-galeria="func" ng-cloak>

			<div class="overflow">
				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4" ng-repeat="(a,b) in categorias | filter: firstletter" ng-click="item(b)">
					<img ng-src="assets/images/magneti-marelli-item-{{ iterator(a) }}.png" >
					<div class="info-categorias">
						<p class='text-uppercase'>{{b.nombre}}</p>
						<!-- <p class='text-uppercase'>cofap</p> -->
					</div>
				</div>
				<!--//item-->
			</div>

		</li>
			<!--//items-categoria-->

		</div>
		<!--//Bloque - categoria-->


		<!--flecha-->
		<div class='flecha'>
			<img src="assets/images/flecha-galerry-top.png" id="gal-top">
			<img src="assets/images/flecha-galerry-bottom.png" id="gal-bottom">
		</div>
		<!--//flecha-->

	</div>
	<!--//categorias-->

	<!--titulo-->
	<div class="titulo-prod">
		<h2 class='text-uppercase'>CATEGORIAS</h2>
	</div>
	<!--//titulo-->

	<div class="botones-descargar">
	<button type="button" class="btn">
		DESCARGAR LISTADO EN EXCEL
		<img src="assets/images/excel-icon.png">
	</button>

	<button type="button" class="btn">
		DESCARGAR SOLICITUD DE EXCEL
		<img src="assets/images/excel-icon.png">
	</button>
	</div>


	<!--Bloque-prodcotos-->
	<div class="bloque-historial">
		<div class="items-productos">


			<!--titulos-columnas-->
			<ul class="titulos-columnas">
				<li class="columna-productos columna-id">
					<h4>id</h4>
				</li>
				<li class="columna-productos columna-fecha">
					<h4>fecha</h4>
				</li>

				<div class="item">
					<!-- <li class="columna-productos columna-codigo codigo">
						<div class="buscar-codigo">
							<input class="buscar-codigo-input" type="text" name="buscar" placeholder="CODIGO">
							<icon class="buscar-codigo-glyphicon glyphicon glyphicon-search"></icon>
						</div>
					</li> -->
					<li class="columna-productos columna-descripcion">
						<h4>Nombre y Apellido</h4>
					</li>
					<!-- <li class="columna-productos columna-lote">
						<h4>Apellido</h4>
					</li> -->
					<!-- <li class="columna-productos columna-estado">
						<h4>Apellido</h4>
					</li> -->
					<li class="columna-productos columna-estado">
						<h4>Producto ID</h4>
					</li>
					<li class="columna-productos columna-estado">
						<h4>Cantidad</h4>
					</li>
					<li class="columna-productos columna-accion">
						<h4>accion</h4>
					</li>
				</div>
		
			</ul>
			<!--titulos-columnas-->

		
			<!--//BLOQUE PEDIDO POR FECHA-->
			<ul class="item-lista" ng-repeat="(a,b) in pedidos | filter:format">

				<!--fecha-id pedido-->
				<div class="fecha">
					<li class="columna-productos columna-id">
						<span class="text-uppercase"><p>{{b.id | limitTo: 9 }}...</p></span>
					</li>
					<li class="columna-productos columna-fecha">
						<span class="text-uppercase"><p>{{b.created_at | date:'dd/MM/yyyy'}}</p></span>
					</li>
				</div>
				<!--fecha-id pedido-->

				<!--item-->
				<div class="item">
					<!--BUSQUEDA agregar clase 'busqueda' al elemento li-->
					<!-- <li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>--</p></span>
					</li> -->
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>{{userData.name}} {{userData.lastname}}</p></span>
					</li>
					<!-- <li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li> -->
					<!-- <li class="columna-productos columna-lote">
						<span class="text-uppercase"><p></p></span>
					</li> -->
					
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
							<button class="btn" style="height:100%;width:100%;"><a href="#/historial/">Ver</a></button>
						</span>
					</li>
				</div>
				<!--//item-->
				

			</ul>
			<!--//BLOQUE PEDIDO POR FECHA-->


			


		</div>
	</div>
	<!--//Bloque-prodcotos-->

</div>
<!--//historial