<!--historial-->
<div class="productos col-xs-12 col-sm-3 col-md-3 ol-lg-3">

	<!-- include submenu categorias -->
	<ng-include src="'templates/submenu-categorias.html'"></ng-include>
	<!-- //include submenu categorias -->

	<!--titulo-->
	<div class="titulo-prod">
		<h2 class='text-uppercase'>Amortigudores cofap</h2>
	</div>
	<!--//titulo-->

	<div class="botones-descargar">
	<button type="button" class="btn">
		DESCARGAR LISTADO EN EXCEL
		<img src="assets/images/excel-icon.png">
	</button>

	<button type="button" class="btn">
		DESCARGAR SOLICITUD DE EXCEL
		<img src="assets/images/excel-icon.png">
	</button>
	</div>


	<!--Bloque-prodcotos-->
	<div class="bloque-historial">
		<div class="items-productos">


			<!--titulos-columnas-->
			<ul class="titulos-columnas">
				<li class="columna-productos columna-id">
					<h4>id</h4>
				</li>
				<li class="columna-productos columna-fecha">
					<h4>fecha</h4>
				</li>

				<div class="item">
					<li class="columna-productos columna-codigo codigo">
						<div class="buscar-codigo">
							<input class="buscar-codigo-input" type="text" name="buscar" placeholder="CODIGO">
							<icon class="buscar-codigo-glyphicon glyphicon glyphicon-search"></icon>
						</div>
					</li>
					<li class="columna-productos columna-descripcion">
						<h4>descripcion</h4>
					</li>
					<li class="columna-productos columna-lote">
						<h4>lote</h4>
					</li>
					<li class="columna-productos columna-estado">
						<h4>asignado</h4>
					</li>
					<li class="columna-productos columna-estado">
						<h4>facturado</h4>
					</li>
					<li class="columna-productos columna-estado">
						<h4>pendiente</h4>
					</li>
					<li class="columna-productos columna-accion">
						<h4>accion</h4>
					</li>
				</div>
		
			</ul>
			<!--titulos-columnas-->

		
			<!--//BLOQUE PEDIDO POR FECHA-->
			<ul class="item-lista">

				<!--fecha-id pedido-->
				<div class="fecha">
					<li class="columna-productos columna-id">
						<span class="text-uppercase"><p>5423589</p></span>
					</li>
					<li class="columna-productos columna-fecha">
						<span class="text-uppercase"><p>22/07/15</p></span>
					</li>
				</div>
				<!--fecha-id pedido-->

				<!--item-->
				<div class="item">
					<!--BUSQUEDA agregar clase 'busqueda' al elemento li-->
					<li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>123587</p></span>
					</li>
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>BOMBA AGUA DUCATO/NEW DAILY</p></span>
					</li>
					<li class="columna-productos columna-lote">
						<span class="text-uppercase"><p>x1</p></span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
						</span>
					</li>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item">
					<li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>123587</p></span>
					</li>
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>BOMBA AGUA DUCATO/NEW DAILY</p></span>
					</li>
					<li class="columna-productos columna-lote">
						<span class="text-uppercase"><p>x1</p></span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
						</span>
					</li>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item">
					<li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>123587</p></span>
					</li>
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>BOMBA AGUA DUCATO/NEW DAILY</p></span>
					</li>
					<li class="columna-productos columna-lote">
						<span class="text-uppercase"><p>x1</p></span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
						</span>
					</li>
				</div>
				<!--//item-->

			</ul>
			<!--//BLOQUE PEDIDO POR FECHA-->


			<!--//BLOQUE PEDIDO POR FECHA-->
			<ul class="item-lista">

				<!--fecha-id pedido-->
				<div class="fecha">
					<li class="columna-productos columna-id">
						<span class="text-uppercase"><p>5423589</p></span>
					</li>
					<li class="columna-productos columna-fecha">
						<span class="text-uppercase"><p>22/07/15</p></span>
					</li>
				</div>
				<!--fecha-id pedido-->

				<!--item-->
				<div class="item">
					<li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>123587</p></span>
					</li>
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>BOMBA AGUA DUCATO/NEW DAILY</p></span>
					</li>
					<li class="columna-productos columna-lote">
						<span class="text-uppercase"><p>x1</p></span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
						</span>
					</li>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item">
					<li class="columna-productos columna-codigo">
						<span class="text-uppercase"><p>123587</p></span>
					</li>
					<li class="columna-productos columna-descripcion">
						<span class="text-uppercase"><p>BOMBA AGUA DUCATO/NEW DAILY</p></span>
					</li>
					<li class="columna-productos columna-lote">
						<span class="text-uppercase"><p>x1</p></span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-estado">
						<span class="text-uppercase">
						</span>
					</li>
					<li class="columna-productos columna-accion">
						<span class="text-uppercase">
						</span>
					</li>
				</div>
				<!--//item-->

			</ul>
			<!--//BLOQUE PEDIDO POR FECHA-->

			


		</div>
	</div>
	<!--//Bloque-prodcotos-->

</div>
<!--//historial-->