
<!--listado-productos-->
<div class="productos col-xs-12 col-sm-3 col-md-3 ol-lg-3">

	<!-- include submenu categorias -->
	

	<!--submenu-->
	<div class='sub-menu'>
		<h5 class="text-uppercase sub-menu-text">cambiar de categoría</h5>
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-2.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon" src="assets/images/magneti-marelli-item-2.png">
		<img id="mostrar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-bottom.png">
		<img id="ocultar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-top.png">
	</div>
	<!--//submenu-->

	<!-- include productos (Es el mismo html que está en productos.html, quizás te sirva reutilizarlo con un include. Lo probé pero no devuelve ninguna categoria)
	<ng-include src="'templates/productos.html'"></ng-include>-->
	<!-- //include productos -->

	<!-- Es el mismo html que está en productos.html-->
	<!--categorias-->
	<div style="display: none" id="categorias" class="categorias col-xs-12 col-sm-3 col-md-3 ol-lg-3">
	
		<!--titulo-->
		<div class="titulo-cat">
			<h2 class='text-uppercase'>seleccionar categoría</h2>
		</div>
		<!--//titulo-->

		<!--Bloque - categoria-->
		<div class="bloque-categoria" ng-controller="ProductosCtrl">

			<div class="categoria">
				<input type="text" value="A" ng-model="search" maxlength="1">
			</div>

			<!--items-categoria-->
			<li class="items categoria-gal" categoria-galeria="func" ng-cloak>

			<div class="overflow">
				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4" ng-repeat="(a,b) in categorias | filter: firstletter" ng-click="item(b)">
					<img ng-src="assets/images/magneti-marelli-item-{{ iterator(a) }}.png" >
					<div class="info-categorias">
						<p class='text-uppercase'>{{b.nombre}}</p>
						<!-- <p class='text-uppercase'>cofap</p> -->
					</div>
				</div>
				<!--//item-->
			</div>

		</li>
			<!--//items-categoria-->

		</div>
		<!--//Bloque - categoria-->


		<!--flecha-->
		<div class='flecha'>
			<img src="assets/images/flecha-galerry-top.png" id="gal-top">
			<img src="assets/images/flecha-galerry-bottom.png" id="gal-bottom">
		</div>
		<!--//flecha-->

	</div>
	<!--//categorias-->

	<!-- //include submenu categorias -->

	<!--titulo-->
	<div class="titulo-prod">
		<h2 class='text-uppercase'>{{categoryName}}</h2>
	</div>
	<!--//titulo-->
	
	<!--descargar-->
	<div class="botones-descargar">
		<button type="button" class="btn" ng-click="export();">
			DESCARGAR LISTADO EN EXCEL
			<img src="assets/images/excel-icon.png">
		</button>
		<button type="button" class="btn" id="loadExcel" load-excel >
			CARGAR SOLICITUD DE EXCEL
			<img src="assets/images/excel-icon.png">
		</button>
	</div>
	<!--descargar-->

	<!--Bloque-productos-->
	<div class="bloque-productos">
		<div class="items-productos">


			<!--titulos-columnas-->
			<div class="titulos-columnas">
				<li class="columna-productos columna-codigo">
					<div class="buscar-codigo">
						<input class="buscar-codigo-input" type="text" name="buscar" placeholder="CODIGO" >
						<icon class="buscar-codigo-glyphicon glyphicon glyphicon-search"></icon>
					</div>
				</li>
				<li class="columna-productos columna-categoria">
					<h4>categoria</h4>
				</li>
				<li class="columna-productos columna-descripcion">
					<h4>descripcion</h4>
				</li>
				<li class="columna-productos columna-lote">
					<h4>lote</h4>
				</li>
				<li class="columna-productos columna-cantidad">
					<h4>cantidad</h4>
				</li>
				<li class="columna-productos columna-agregar">
					<h4>agregar</h4>
				</li>
			</div>
			<!--titulos-columnas-->


			<!--item-lista-->
			<ul class="item-lista" ng-repeat="item in list">
				<li class="columna-productos columna-codigo">
					<span class="text-uppercase"><p>{{item.producto_interno}}</p></span>
				</li>
				<li class="columna-productos columna-categoria">
					<span class="text-uppercase"><p>{{categoryName}}</p></span>
				</li>
				<li class="columna-productos columna-descripcion">
					<span class="text-uppercase"><p>{{item.producto_descripcion}}</p></span>
				</li>
				<li class="columna-productos columna-lote">
					<span class="text-uppercase"><p>x1</p></span>
				</li>
				<li class="columna-productos columna-cantidad">
					<span class="input-cantidad">
						<input id="ok-1" class="cantidad" type="number"  ng-model="item.cantidad" ng-change="valid(item);">
					</span>
				</li>
				<li class="columna-productos columna-agregar">
					<span class="text-uppercase">
						<div class="ok-1 ok " ng-model="item.valid" ng-class="{'ok-activo': item.valid, 'ok-inactivo': !item.valid}" style="cursor:pointer;" ng-click="add(item);"></div>
					</span>
				</li>
			</ul>
			<!--//item-lista-->

		</div>
	</div>
	<!--//Bloque-productos-->



</div>
<!--//listado-productos-->
<input type="file" style="display:none" id="loadExcelInput" load-excel-input="" >
