
<!--categorias-->
<div class="categorias col-xs-12 col-sm-3 col-md-3 ol-lg-3">
	<!--titulo-->
	<div class="titulo-cat">
		<h2 class='text-uppercase'>seleccionar categoría</h2>
	</div>
	<!--//titulo-->

	<!--Bloque - categoria-->
	<div class="bloque-categoria">

		<div class="categoria">
			<input type="text" value="A">
		</div>

		<!--items-categoria-->
		<li class="items currentCategoria-1">

			<!--item-->
			<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4" ng-repeat="categoria in categorias" ng-click="item(categoria)">
				<img src="assets/images/magneti-marelli-item-1.png">
				<div class="info-categorias">
					<p class='text-uppercase'>{{categoria.nombre}}</p>
					<!-- <p class='text-uppercase'>cofap</p> -->
				</div>
			</div>
			<!--//item-->

		</li>
		<!--//items-categoria-->

		<!--items-categoria-->
		<li class="items currentCategoria-2">
			

		</li>
		<!--//items-categoria-->

		<!--items-categoria-->
		<li class="items currentCategoria-3">
		

		</li>
		<!--//items-categoria-->
	</div>
	<!--//Bloque - categoria-->



	<!--flecha-->
	<div class='flecha'>
		<img class='lnk-menos-GalCategorias' src="assets/images/flecha-galerry-top.png">
		<img class='lnk-mas-GalCategorias' src="assets/images/flecha-galerry-bottom.png">
	</div>
	<!--//flecha-->

</div>
<!--//categorias-->