
<!--categorias-->
<div class="categorias col-xs-12 col-sm-3 col-md-3 ol-lg-3">
	<!--titulo-->
	<div class="titulo-cat">
		<h2 class='text-uppercase'>seleccionar categoría</h2>
	</div>
	<!--//titulo-->

	<!--Bloque - categoria-->
	<div class="bloque-categoria">

		<div class="categoria">
			<input type="text" value="A">
		</div>

		<!--items-categoria-->
		<li class="items categoria-gal" categoria-galeria="func" ng-cloak>

			<div class="overflow">
				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4" ng-repeat="(a,b) in categorias" ng-click="item(b)">
					<img ng-src="assets/images/magneti-marelli-item-{{ iterator(a) }}.png" >
					<div class="info-categorias">
						<p class='text-uppercase'>{{b.nombre}}</p>
						<!-- <p class='text-uppercase'>cofap</p> -->
					</div>
				</div>
				<!--//item-->
			</div>

		</li>
		<!--//items-categoria-->

		<!--items-categoria-->
		
		<!--//items-categoria-->
	</div>
	<!--//Bloque - categoria-->



	<!--flecha-->
	<div class='flecha'>
		<img src="assets/images/flecha-galerry-top.png" id="gal-top">
		<img src="assets/images/flecha-galerry-bottom.png" id="gal-bottom">
	</div>
	<!--//flecha-->

</div>
<!--//categorias-->