

	<!--submenu-->
	<div class='sub-menu'>
		<h5 class="text-uppercase sub-menu-text">cambiar de categoría</h5>
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-2.png">
		<img class="sub-menu-icon"src="assets/images/magneti-marelli-item-1.png">
		<img class="sub-menu-icon" src="assets/images/magneti-marelli-item-2.png">
		<img id="mostrar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-bottom.png">
		<img id="ocultar-categorias" class="sub-menu-flecha" src="assets/images/flecha-galerry-top.png">
	</div>
	<!--//submenu-->

	<!-- include productos (Es el mismo html que está en productos.html, quizás te sirva reutilizarlo con un include. Lo probé pero no devuelve ninguna categoria)
	<ng-include src="'templates/productos.html'"></ng-include>-->
	<!-- //include productos -->

	<!-- Es el mismo html que está en productos.html-->
	<!--categorias-->
	<div style="display: none" id="categorias" class="categorias col-xs-12 col-sm-3 col-md-3 ol-lg-3">
	
		<!--titulo-->
		<div class="titulo-cat">
			<h2 class='text-uppercase'>seleccionar categoría</h2>
		</div>
		<!--//titulo-->

		<!--Bloque - categoria-->
		<div class="bloque-categoria">

			<div class="categoria">
				<input type="text" value="A">
			</div>

			<!--items-categoria-->
			<li class="items currentCategoria-1">

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>LISTA 1</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod  col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-1.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

				<!--item-->
				<div class="item lnk-cat-prod col-xs-12 col-sm-4 col-md-4 ol-lg-4">
					<img src="assets/images/magneti-marelli-item-2.png">
					<div class="info-categorias">
						<p class='text-uppercase'>Amortiguadores</p>
						<p class='text-uppercase'>cofap</p>
					</div>
				</div>
				<!--//item-->

			</li>
			<!--//items-categoria-->

		</div>
		<!--//Bloque - categoria-->


		<!--flecha-->
		<div class='flecha'>
			<img class='lnk-menos-GalCategorias' src="assets/images/flecha-galerry-top.png">
			<img class='lnk-mas-GalCategorias' src="assets/images/flecha-galerry-bottom.png">
		</div>
		<!--//flecha-->

	</div>
	<!--//categorias-->
	<!-- Es el mismo html que está en productos.html)