// ========================
/******** PRODUCTOS *****/
// ========================

.bloque-historial{
	height: auto;
	float: left;
	position: relative;
	width: 100%;

	.busqueda{
		li,span{
			background-color: #7B8393 !important;
		}
	}

	.items-productos{
		float: left;
		background-color: #595959;
		width: 100%;
		margin: 0;
		padding: 0;

		.productos .buscar-codigo {
			width: 100%;
			padding-top: 10px;
			margin: 0;
			background-color: #5F656D;
			height: 100%;
		}

		.fecha{
			span{
				border-left: none !important;
				border-right: none !important;
			}
		}

		.item{
			width:80%;
			float: right;
			height: 100%;

			.columna-codigo{
				width: 15%;
				//background-color: #5F656D;
				height: 100%;
			}

			.codigo{
				background-color: #5F656D;
			}

			.columna-descripcion{
				width: 32%;

				li{
					p{
						text-align: left !important;
					}
				}
				
			}

			.columna-lote{
				width: 8%;
			}

			.columna-estado{
				width: 12%;
			}

			.columna-accion{
				width: 9%;
				span{
					background-color:#696F76 !important;
				}
			}

		}

		.item-lista{
			height: auto;
			position: relative;
			float: left;
			display: table;
			width: 100%;
			background-color: #848B9A !important;
			border-bottom: 1px solid #666;
		}

		.datos-pedido{
			background-color:#696F76 !important;
			float: left;
			display: block;
			height: 100%;
		}

		.columna-id{
			width: 10%;
			height: 100% !important;

			span{
				border: none;
				background-color: #848B9A !important;
			}
		}

		.columna-fecha{
			width: 10%;
			height: 100% !important;

			span{
				border: none;
				background-color: #848B9A !important;
			}
		}

		

		

		.titulos-columnas{
			height: 50px;
			color: #fff;
			text-transform: uppercase;
			background-color: #717882;
			font-family: 12px;

			h4{
				margin-top: 17px;
				font-size: 11px;
				text-align: center;
			}
		}

		.columna-productos{
			float: left;
			font-family: Gotham-Book;
			margin: 0;
			padding: 0px;

			p{
				margin-top: 15px;
				text-align: center;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
			}

			span{
				background-color: #939CB0;
				width: 100%;
				float: left;
				font-size: 12px;
				padding: 0px;
				color: #fff;
				height: 60px;
				border-left: .5px solid #666;
				border-right: 1px solid #666;
				border-bottom: .5px solid #666;
				border-top: 1px solid #666;
			}

			/*.cantidad{
				width: 60px;
				border: none;
				background-color: #536783;
				height: 25px;
				margin-top: 15px;
				position: relative;
				left: 50%;
				margin-left: -30px;
			}*/

			.ok{
				height: 29px;
				width: 30px;
				margin-top: 15px;
				position: relative;
				left: 50%;
				margin-left: -15px;
			}

			.ok-activo{
				background-image: url('../images/ok-activo.png');
			}

			.ok-inactivo{
				background-image: url('../images/ok-inactivo.png');
			}
		}

	}
}


// ==========================================================================
/* RESPONSIVE  */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){



}


/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){


}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){


}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
