// ========================
/******** CATEGORIAS *****/
// ========================

.login{
	width: 300px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -150px;
	margin-top: 150px;
	background-color: #F4C609;
	padding: 20px;
	font-family: Gotham-Book;
	font-size: 12px;
	text-align: center;
	border-radius: 5px;

	button{
		font-family: Gotham-Book;
		margin: 0 auto;
		display: block;
		width: 100%;
		margin-top: 10px;
		float: left;
	}
		

}

.logo-login{
	margin-bottom: 20px;

	img{
		width: 100px;
	}

}

.error-login{
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	padding: 5px;
	border: 1px solid #961302;
	background-color: #961302;
	width: 300px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -150px;
	margin-top: 115px;
	font-family: Gotham-Book;
	font-size: 12px;
	text-align: center;
	border-radius: 5px;

	p{
		color:#d1d1d1;
		font-size: 12px;
	}

}




// ==========================================================================
/* RESPONSIVE  */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){



}


/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){


}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){


}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
